/* under this card css */
.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
/* under here is coin rotation */
.coin {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: gold;
  position:relative;
  border-radius: 100%;
  display: inline-block;
  align-items: center;
  line-height: 65px;
  animation: flip 2s linear infinite;
}

@keyframes flip {
  0%,
  100% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
}